body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e1eef6;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f0f8fc;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #5a6f7b;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #8aa4b0;
    border-bottom: 2px solid #b3d7e6;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #8aa4b0;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #b3d7e6;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #eaf2f7;
    color: #5a6f7b;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    border-color: #91bdd8;
    background-color: #d9eaf1;
    box-shadow: 0 0 0 0.2rem rgba(145, 189, 216, 0.25);
    outline: none;
}

textarea {
    resize: vertical;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #b3d7e6;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 30px;
}

.btn-submit:hover {
    background-color: #91bdd8;
    box-shadow: 0 4px 10px rgba(145, 189, 216, 0.2);
}

.btn-submit:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(145, 189, 216, 0.25);
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
    color: #97a9b6;
    opacity: 1; 
}

@media (max-width: 576px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .btn-submit {
        padding: 10px;
        font-size: 14px;
    }

    .form-row {
        flex-direction: column;
    }
}

.error {
    color: #b3d7e6;
    font-size: 14px;
    margin-top: 5px;
}

.btn-eliminar {
    width: 100%;
    padding: 12px;
    background-color: #f6b3b3;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.btn-eliminar:hover {
    background-color: #f58c8c;
    box-shadow: 0 4px 10px rgba(245, 140, 140, 0.2);
}

.btn-eliminar:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(245, 140, 140, 0.25);
}

.btn-actualizar {
    width: 100%;
    padding: 12px;
    background-color: #b3f6b3;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.btn-actualizar:hover {
    background-color: #8cf58c;
    box-shadow: 0 4px 10px rgba(140, 245, 140, 0.2);
}

.btn-actualizar:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(140, 245, 140, 0.25);
}

.menu {
    background-color: #f0f8fc;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    margin-bottom: 20px; 
    border-radius: 8px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu ul li {
    margin: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #5a6f7b;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.menu ul li a:hover {
    background-color: #b3d7e6;
    color: #ffffff;
}

@media (max-width: 576px) {
    .menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .menu ul li a {
        padding: 8px 15px;
        font-size: 14px;
    }
}

.resultados-vertical {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f0f8fc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.resultados-vertical th, .resultados-vertical td {
    padding: 12px 15px;
    text-align: left;
    color: #5a6f7b;
    border-bottom: 1px solid #b3d7e6;
}

.resultados-vertical th {
    background-color: #b3d7e6;
    font-weight: 600;
    text-transform: uppercase;
    width: 30%;
}

.resultados-vertical tr:nth-child(even) {
    background-color: #eaf2f7;
}

.resultados-vertical tr:hover {
    background-color: #d9eaf1;
}



.btn-consultar {
    width: 100%;
    padding: 12px;
    background-color: #dfb3f6; /* Verde Pastel */
    border: none;
    border-radius: 6px;
    color: #ffffff; /* Blanco */
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.btn-consultar:hover {
    background-color: #dfb3f6; /* Verde Pastel Oscuro */
    box-shadow: 0 4px 10px rgba(226, 140, 245, 0.2);
}

.btn-consultar:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(226, 140, 245, 0.2);
}